<section data-ng-controller="ordersCreateController">
 <div class="modal-body">
  <div class="panel panel-danger ">
         <div class="panel-heading">
           <i class="glyphicon glyphicon-exclamation-sign"></i> Atencion!!
         </div>
           <div class="modal-body">
           Seguro que quiere cancelar orden?
           </div>

  </div>
  </div>
  <div class="modal-footer">
   <button class="btn btn-danger" ng-click="ok()" >Ok</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
   </div>
</section>
