<section data-ng-controller="clienteController as clienteCtrl" >
   <div class="container">
       <div class="panel panel-warning">
           <div class="panel-heading">
           <div class="row">
                 <div class="col-md-12"><h1>Maestro Clientes</h1></div>
           </div>
           </div> 
           <div class="row">
           <div class="col-md-12 textRight divmarginAll">
           <div>
            <button type="submit" class="btn btn-large btn-warning text-center" ng-click="clienteCtrl.modelCreate('lg')">
             <i class="glyphicon glyphicon-globe"></i>
             <br>Ingresar Cliente</button>
           </div>
           </div>
           </div>
          
           <div class="row">
           <div class="col-md-12">
           <cliente-list></cliente-list>
           </div>
           </div>
          
       </div>
       </div>

    <div class="alert alert-warning text-center" data-ng-hide="!cliente.$resolved || clienteCtrl.clientes.length">

<!--     <div class="lit-group">
        <a data-ng-repeat="pai in pais" data-ng-href="#!/pais/{{pai._id}}" class="list-group-item">
		<div class ="row">
           <div class="col.md.10">
               
           </div>
			<h4 class="list-group-item-heading" data-ng-bind="pai.name"></h4>
            <div class="col.md.2">
                <div>
                    <button type="button" class="btn btn-default" title="View" ng-click="view(customer)"><span class="glyphicon glyphicon-eye-open"></span></button> 

                    <button type="button" class="btn btn-default" title="Edit" ng-click="edit(customer)"><span class="glyphicon glyphicon-edit"></span></button> 

                    <button type="button" class="btn btn-default" title="Remove" ng-click="delete(customer)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                 </div>
            </div>
        </div>
        </a>
    </div> -->
    	No hay ningun pais registrado<a href="/#!/pais/create"> Crea uno</a>?
    </div>
</section>