body{
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}



#panelbody div {
	margin: 10px;
}

.features {
text-align: center;
}

#loginForm{
	margin-top: 10px;
}