<section data-ng-controller="CiudadCreateController as CreateCtrl">

<div class="modal-header">
        <h3 class="modal-title">Nueva Ciudad</h3>
        </div>
        <div class="modal-body">
        <form name="createCiudadForm" id="createCiudadForm">
            <fieldset>
                <div class="form-group">
                   <label class="control-label" for="pais">Pais</label>
                    <div class="controls">
                    <select data-ng-model="CreateCtrl.Selectedpais" id="Selectedpais" class="form-control" name="Selectedpais" ng-options="value._id as value.name for value in CreateCtrl.pais">
                        <option value="" class="">-- Selecione Pais --</option>
                        </select>        
                    </div>
                 </div>
                <div class="form-group">
                    <label class="control-label" for="name">Ciudad:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="CreateCtrl.name" id="name" class="form-control" placeholder="Nombre Ciudad" required>                  
                    </div>
               </div>
              
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
      
        
        </div>

        <div class="modal-footer">
    <button class="btn btn-success" ng-click="CreateCtrl.create(); ok(); doSearch()"   ng-disabled="createCiudadForm.$invalid">Guardar & Salir</button>
            <button class="btn btn-warning" ng-click="cancel()">Salir</button>
      </div>

</section>
