<section data-ng-controller="confirmyearCtrl">
 <div class="modal-body">
  <div class="panel panel-danger ">
         <div class="panel-heading">
           <i class="glyphicon glyphicon-user"></i> 
         </div>
           <div class="modal-body">
           Esta a punto de procesar el cierre de año 
           </div>
  </div>
  </div>
  <div class="modal-footer">
   <button class="btn btn-danger"  ng-click="ok(); setyearCierre();" >Guardar</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
   </div>
</section>