<section data-ng-controller="PaisCreateController as CreateCtrl">

<div class="modal-header">
        <h3 class="modal-title">Nuevo Pais</h3>
        </div>
        <div class="modal-body">
        
        <form name="createPaisForm" id="createPaisForm">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Pais:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="CreateCtrl.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
               </div>
              
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
      
        
        </div>

        <div class="modal-footer">
    <button class="btn btn-success" ng-click="CreateCtrl.create(); ok()"   ng-disabled="createPaisForm.$invalid">Guardar & Salir</button>
            <button class="btn btn-warning" ng-click="cancel()">Salir</button>
      </div>

</section>
